Repository hyperledger/identus-cloud-agent, changes with the labels that .github/labeler.yml gives for each.
All labels: castor, mercury, connect, pollux, cloud-agent, prism-node, shared, event-notification, infra, build, ci, docs

.github/labeler.yml:

---
castor:
  - changed-files:
      - any-glob-to-any-file:
          - castor/**/*
mercury:
  - changed-files:
      - any-glob-to-any-file:
          - mercury/**/*
connect:
  - changed-files:
      - any-glob-to-any-file:
          - connect/**/*
pollux:
  - changed-files:
      - any-glob-to-any-file:
          - pollux/**/*
cloud-agent:
  - changed-files:
      - any-glob-to-any-file:
          - cloud-agent/**/*
prism-node:
  - changed-files:
      - any-glob-to-any-file:
          - prism-node/**/*
shared:
  - changed-files:
      - any-glob-to-any-file:
          - shared/**/*
event-notification:
  - changed-files:
      - any-glob-to-any-file:
          - event-notification/**/*
infra:
  - changed-files:
      - any-glob-to-any-file:
          - infrastructure/**/*
build:
  - changed-files:
      - any-glob-to-any-file:
          - project/**/*
          - build.sbt
          - version.sbt
          - package*.json
ci:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**/*
docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
          - README.md

fixes
  package-lock.json
  package.json
  release.config.mjs
Labels: build

rollback test line
  release.config.mjs
Labels: none

fixes event notification path
  .github/workflows/build.yml
Labels: ci

small changes
  .github/workflows/build.yml
  .github/workflows/integration-tests.yml
  .github/workflows/oasdiff.yml
  .github/workflows/release-clients.yml
  release.config.mjs
Labels: ci

pipeline enhancements
  .github/workflows/build.yml
  .github/workflows/integration-tests.yml
  .github/workflows/release.yml
Labels: ci

updates changelog
  CHANGELOG.md
Labels: none

update changelog from 0.1.0
  CHANGELOG.md
Labels: none
